<include file="Public:header" />
<body style="background:#f0f0f0 url('__PUBLIC__/Img/Admin/bg-body.gif') top left repeat-y;">
	<div id="body-wrapper">
		<!-- Wrapper for the radial gradient background -->
		<div id="sidebar">
			<div id="sidebar-wrapper">
				<!-- Sidebar with logo and menu -->
				<h1 id="sidebar-title"><a href="javascript:void(0);">Simpla Admin</a></h1>
				<!-- Logo (221px wide) -->
				<a href="{:U('Index/mIndex')}"><img id="logo" src="__PUBLIC__/Img/Admin/logo.png" alt="Simpla Admin logo" /></a>
				<!-- Sidebar Profile links -->
				<div id="profile-links"> 您好, <a href="javascript:void(0);" title="进入个人中心">{$Think.session.my_info.nickname|substr=0,9}</a>,您有 <a href="#messages" rel="modal" title="3 Messages">3 Messages</a><br />
				<a href="{:U('Index/index')}"  target="_parent" title="返回主页">返回主页</a> | <a href="{:U('Public/loginOut')}"  target="_parent" title="退出">注销</a> 
				</div>
				<ul id="main-nav">
					<!-- Accordion Menu -->
					<!--
					<li><a href="#" class="nav-top-item current"> 仪表盘 </a> 
						<ul class="none-css-main-item">
							<li><a class="current" href="{:U('Index/mIndex')}" target="main">首页</a></li>
							<li><a href="{:U('Index/mIndex')}" target="main">更新</a></li>
						</ul>
					</li>
					-->

					<li> <a href="#" class="nav-top-item "> 门户管理 </a>
						<ul class="none-css-main-item">
							<!--
							<li><a href="javascript:void(0)" target="main">管理栏目（不做）</a></li>
							<li><a href="javascript:void(0)" target="main">添加栏目（不做）</a></li>
							<li><a href="javascript:void(0)" target="main">管理广告位（不做）</a></li>
							<li><a href="javascript:void(0)" target="main">添加广告（不做）</a></li>
							<li><a href="javascript:void(0)" target="main">管理广告（不做）</a></li>
							<li><a href="javascript:void(0);" target="main">添加公告（不做）</a></li>
							<li><a href="javascript:void(0);" target="main">管理公告（不做）</a></li>
							-->
							<li><a href="javascript:void(0)" target="main">添加通知</a></li>
							<li><a href="javascript:void(0)" target="main">通知管理</a></li>
							<li><a href="{:U('Link/index')}" target="main">管理友情链接</a></li>
							<li><a href="{:U('Link/mAdd')}" target="main">添加友情链接</a></li>
							<li><a href="{:U('Link/mTrash')}" target="main">回收站管理</a></li>
						</ul>
					</li>
					
					<li> <a href="#" class="nav-top-item"> 用户管理 </a>
						<ul class="none-css-main-item">
							<li><a href="{:U('User/index')}" target="main">前台用户列表</a></li>
							<li><a href="{:U('User/mAdd')}" target="main">添加新用户</a></li>
							<li><a href="{:U('User/mTrash')}" target="main">回收站管理</a></li>
							<!--<li><a href="{:U('User/mUserAnalyse')}"  target="main">用户分析</a></li>-->
						</ul>
					</li>

					<li> <a href="#" class="nav-top-item"> 权限管理 </a>
						<ul class="none-css-main-item">
							<li><a href="{:U('Access/index')}" target="main">所有用户</a></li>
							<li><a href="{:U('Access/mAdd')}" target="main">新增管理员</a></li>
							<li><a href="{:U('Access/mAdminRoleList')}" target="main">角色管理</a></li>
							<li><a href="{:U('Access/mTrash')}" target="main">回收站管理</a></li>
							<!--<li><a href="{:U('Access/mLoginLog')}" target="main">登录日志</a></li>-->
							<!--
							<li><a href="{:U('Access/mMyInfo')}" target="main">我的个人资料</a></li>
							-->
						</ul>
					</li>
					
					<li> <a href="#" class="nav-top-item"> 公司管理 </a>
						<ul class="none-css-main-item">
							<li><a href="{:U('Finance/index')}" target="main">公司管理</a></li>
							<li><a href="{:U('Finance/mAdd')}" target="main">添加公司</a></li>	
							<li><a href="{:U('Finance/mTrash')}" target="main">回收站管理</a></li>
						</ul>
					</li>
					
					<li> <a href="#" class="nav-top-item"> 项目管理 </a>
						<ul class="none-css-main-item">
							<li><a href="{:U('Project/index')}" target="main">管理项目</a></li>
							<li><a href="{:U('Project/mAdd')}" target="main">添加项目</a></li>
							<!--<li><a href="javascript:void(0)" target="main">群组管理</a></li>-->
							<!--<li><a href="{:U('Project/mTrash')}" target="main">回收站管理</a></li>-->
						</ul>
					</li>
					
					<li> <a href="#" class="nav-top-item"> 业务管理 </a>
						<ul class="none-css-main-item">
							<li><a href="{:U('Business/index')}" target="main">管理业务</a></li>
							<li><a href="{:U('Business/mAdd')}" target="main">添加业务</a></li>
						</ul>
					</li>

					<li> <a href="#" class="nav-top-item"> 文件管理 </a>
						<ul class="none-css-main-item">
							<li><a href="{:U('File/index')}" target="main">管理文件</a></li>
							<li><a href="{:U('File/mAdd')}" target="main">添加文件</a></li>
							<li><a href="{:U('File/mTrash')}" target="main">回收站管理</a></li>
						</ul>
					</li>
					
					<li> <a href="#" class="nav-top-item"> 论坛管理 </a>
						<ul class="none-css-main-item">
							<li><a href="{:U('Bbs/mComments')}" target="main">评论管理</a></li>
						</ul>
					</li>
						
					<li><a href="#" class="nav-top-item no-submenu"> 系统管理 </a> 
						<ul class="none-css-main-item">
							<li><a href="javascript:void(0)" target="main">系统信息</a></li>
							<li><a href="javascript:void(0)" target="main">基本设置</a></li>
							<li><a href="javascript:void(0)" target="main">更新缓存</a></li>
							<li><a href="javascript:void(0)" target="main">数据库优化</a></li>
							<li><a href="javascript:void(0)"  target="main">数据库备份</a></li>
							<li><a href="javascript:void(0)" target="main">关闭/开启门户</a></li>
						</ul>
					</li>

				</ul>
				<!-- End #main-nav -->
			</div>
		</div>
	</div>
</body>
<include file="Public:footer" />
