<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{$web_name}-{$description}</title>
		<meta name="keywords" content="{$keywords}"/>
		<meta name="description" content="{$seo_description}" />
		<meta name="baidu-site-verification" content="" />
<link rel="stylesheet" href="__PUBLIC__/Css/Home/user_center.css" type="text/css">
<style type="text/css">
			body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #CCC;
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}
a:link {
	color: #666;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
	color: #000;
}
.container {
	width: 1000px;
	background: #FFFFFF;
	margin: 0 auto; 
}
.header {
	background-color: #FFF;
}
.sidebar1 {
	float: left;
	width: 180px;
	background: #EADCAE;
	padding-bottom: 10px;
}
.content {

	padding: 10px 0;
	width: 600px;
	float: left;
}
.sidebar2 {
	float: left;
	width: 180px;
	background: #EADCAE;
	padding: 10px 0;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}
ul.nav {
	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px; 
}
ul.nav li {
	border-bottom: 1px solid #666; 
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 160px;  
	text-decoration: none;
	background: #C6D580;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background: #ADB96E;
	color: #FFF;
}
.footer {
	padding: 10px 0;
	background: #CCC;
	position: relative;
	clear: both; 
}
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
		</style>
	</head>

	<body youdao="bind">

		<div class="container">
			<div class="header"><!-- end .header -->
		<table width="1280" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td height="50" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top" bgcolor="#FFFFFF"><table width="1280" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td width="48" valign="top">&nbsp;</td>
		<td width="1184" valign="top"><table width="1184" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td valign="top"><table width="1184" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td valign="top"><table id="__" width="382" height="154" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td height="11" colspan="2">&nbsp;</td>
		</tr>
		<tr>
		<td><img src="__PUBLIC__/Img/Home/user_center/webac_02.gif" width="60" height="48" alt=""></td>
		<td width="322" height="48" class="hei36-hei">比泽有限公司</td>
		</tr>
		<tr>
		<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
		<td colspan="2" class="hei14-hei">股份制企业；位于：上海市青浦区连城路234号；电话021-34689234；主营警用品开发和销售；<br>
		  www.bize.com</td>
		</tr>
		<tr>
		<td colspan="2" align="right" class="hei12-hei">编辑</td>
		</tr>
		</tbody></table></td>
		<td align="right" valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top"><table width="67" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td width="67" height="34" valign="top"><img src="__PUBLIC__/Img/Home/user_center/Hum_amy.png" width="67" height="34" alt=""></td>
			  </tr>
			  <tr>
				<td width="67" height="24" background="__PUBLIC__/Img/Home/user_center/Hum_amy_1.png" valign="top"><table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
					<td valign="top" class="hei12-bai">志强科技</td>
				  </tr>
				  <tr>
					<td valign="top" class="hei12-bai">Amy</td>
				  </tr>
				</tbody></table></td>
			  </tr>
			</tbody></table></td>
			<td valign="top">&nbsp;</td>
			<td valign="top"><table width="67" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td width="67" height="34" valign="top"><img src="__PUBLIC__/Img/Home/user_center/Hum_xiaozhao.png" width="67" height="34" alt=""></td>
			  </tr>
			  <tr>
				<td width="67" height="24" background="__PUBLIC__/Img/Home/user_center/Hum_xiaozhao_1.png" valign="top"><table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
					<td valign="top" class="hei12-bai">灿阳广告</td>
				  </tr>
				  <tr>
					<td valign="top" class="hei12-bai">小赵</td>
				  </tr>
				</tbody></table></td>
			  </tr>
			</tbody></table></td>
			<td valign="top">&nbsp;</td>
			<td valign="top"><table width="67" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td width="67" height="34" valign="top"><img src="__PUBLIC__/Img/Home/user_center/Hum_bos.png" width="67" height="34" alt=""></td>
			  </tr>
			  <tr>
				<td width="67" height="24" background="__PUBLIC__/Img/Home/user_center/Hum_bos_1.png" valign="top"><table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
					<td valign="top" class="hei12-bai">&nbsp;</td>
				  </tr>
				  <tr>
					<td valign="top" class="hei12-bai">老板</td>
				  </tr>
				</tbody></table></td>
			  </tr>
			</tbody></table></td>
			<td valign="top">&nbsp;</td>
			<td valign="top"><table width="67" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td width="67" height="34" valign="top"><img src="__PUBLIC__/Img/Home/user_center/Hum_liuli.png" width="67" height="34" alt=""></td>
			  </tr>
			  <tr>
				<td width="67" height="24" background="__PUBLIC__/Img/Home/user_center/Hum_liuli_2.png" valign="top"><table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
					<td valign="top" class="hei12-bai">&nbsp;</td>
				  </tr>
				  <tr>
					<td valign="top" class="hei12-bai">刘丽</td>
				  </tr>
				</tbody></table></td>
			  </tr>
			</tbody></table></td>
			<td valign="top">&nbsp;</td>
			<td valign="top"><table width="67" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td width="67" height="34" valign="top"><img src="__PUBLIC__/Img/Home/user_center/Hum_xiaozhang.png" width="67" height="34" alt=""></td>
			  </tr>
			  <tr>
				<td width="67" height="24" background="__PUBLIC__/Img/Home/user_center/Hum_xiaozhang_1.png" valign="top"><table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
					<td valign="top" class="hei12-bai">&nbsp;</td>
				  </tr>
				  <tr>
					<td valign="top" class="hei12-bai">小张</td>
				  </tr>
				</tbody></table></td>
			  </tr>
			</tbody></table></td>
			<td valign="middle">&nbsp;</td>
			<td valign="middle"><img src="__PUBLIC__/Img/Home/user_center/webac_06.gif" width="29" height="29" alt=""></td>
			<td valign="middle">&nbsp;</td>
			<td valign="middle"><img src="__PUBLIC__/Img/Home/user_center/webac_08.gif" width="30" height="29" alt=""></td>
		  </tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top"><img src="__PUBLIC__/Img/Home/user_center/b.png" width="765" height="1" alt=""></td>
		</tr>
		<tr>
		<td valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top"><table width="67" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td width="67" height="34" valign="top"><img src="__PUBLIC__/Img/Home/user_center/Hum_liuxiaoqing.png" width="67" height="34" alt=""></td>
			  </tr>
			  <tr>
				<td width="67" height="24" background="__PUBLIC__/Img/Home/user_center/Hum_liuxiaoqing_1.png" valign="top"><table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
					<td valign="top" class="hei12-bai">灿阳广告</td>
				  </tr>
				  <tr>
					<td valign="top" class="hei12-bai">刘晓庆</td>
				  </tr>
				</tbody></table></td>
			  </tr>
			</tbody></table></td>
			<td valign="top">&nbsp;</td>
			<td valign="top"><table width="67" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td width="67" height="34" valign="top"><img src="__PUBLIC__/Img/Home/user_center/Hum_amy.png" width="67" height="34" alt=""></td>
			  </tr>
			  <tr>
				<td width="67" height="24" background="__PUBLIC__/Img/Home/user_center/Hum_amy_1.png" valign="top"><table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
					<td valign="top" class="hei12-bai">志强科技</td>
				  </tr>
				  <tr>
					<td valign="top" class="hei12-bai">Amy</td>
				  </tr>
				</tbody></table></td>
			  </tr>
			</tbody></table></td>
			<td valign="top">&nbsp;</td>
			<td valign="top"><table width="67" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td width="67" height="34" valign="top"><img src="__PUBLIC__/Img/Home/user_center/Hum_liuli.png" width="67" height="34" alt=""></td>
			  </tr>
			  <tr>
				<td width="67" height="24" background="__PUBLIC__/Img/Home/user_center/Hum_liuli_2.png" valign="top"><table border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
					<td valign="top" class="hei12-bai">&nbsp;</td>
				  </tr>
				  <tr>
					<td valign="top" class="hei12-bai">刘丽</td>
				  </tr>
				</tbody></table></td>
			  </tr>
			</tbody></table></td>
			<td valign="top">&nbsp;</td>
			<td valign="middle"><img src="__PUBLIC__/Img/Home/user_center/plus.png" width="198" height="29" alt=""></td>
		  </tr>
		</tbody></table></td>
		</tr>
		</tbody></table></td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="147" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td align="center" valign="top"><table id="__3" width="413" height="90" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td width="250" height="63" rowspan="2" class="hei36-hei">7,9603.00</td>
		<td width="17" height="90" rowspan="4">&nbsp;</td>
		<td width="76" height="39">&nbsp;</td>
		<td width="70" height="39">&nbsp;</td>
		</tr>
		<tr class="hei14-lan">
		<td height="24" align="right">详细</td>
		<td align="right">充值</td>
		</tr>
		<tr>
		<td height="7" rowspan="2" align="right" class="hei14-hui">355,1000.00</td>
		<td width="76" height="20" align="right" class="hei12-hei"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td width="35" align="center" valign="top" bgcolor="#000000" class="hei12-bai">时间</td>
		<td width="35" align="center" valign="top" bgcolor="#A4A4A4" class="hei12-hei">项目</td>
		</tr>
		</tbody></table></td>
		<td height="27" rowspan="2" class="hei12-hei">&nbsp;</td>
		</tr>
		<tr>
		<td height="7">&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="41" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top"><table id="__4" width="1185" height="294" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td height="21" colspan="2" rowspan="3">&nbsp;</td>
		<td rowspan="2" valign="bottom"><img src="__PUBLIC__/Img/Home/user_center/webac_01.gif" width="3" height="21" alt=""></td>
		<td width="22" height="21" rowspan="2">&nbsp;</td>
		<td height="5" colspan="7">&nbsp;</td>
		<td height="21" colspan="21" rowspan="2">&nbsp;</td>
		</tr>
		<tr>
		<td><img src="__PUBLIC__/Img/Home/user_center/webac_03.gif" width="9" height="16" alt=""></td>
		<td width="3">&nbsp;</td>
		<td height="16" colspan="3" align="center" valign="middle" bgcolor="#FBDAEA" style="font-size: 12px; font-family: &#39;微软雅黑&#39;;">2016</td>
		<td width="6">&nbsp;</td>
		<td><img src="__PUBLIC__/Img/Home/user_center/webac_10.gif" width="9" height="16" alt=""></td>
		</tr>
		<tr>
		<td colspan="30" rowspan="9" valign="top"><img src="__PUBLIC__/Img/Home/user_center/webac_11.gif" width="1121" height="242" alt=""></td>
		</tr>
		<tr>
		<td width="47" height="14" align="right" class="hei14-hui">100000</td>
		<td width="16" height="207" rowspan="7">&nbsp;</td>
		</tr>
		<tr align="right" class="hei14-hui">
		<td height="50">&nbsp;</td>
		</tr>
		<tr align="right" class="hei14-hui">
		<td height="14">10000</td>
		</tr>
		<tr align="right" class="hei14-hui">
		<td height="52">&nbsp;</td>
		</tr>
		<tr align="right" class="hei14-hui">
		<td height="15">1000</td>
		</tr>
		<tr align="right" class="hei14-hui">
		<td height="48">&nbsp;</td>
		</tr>
		<tr align="right" class="hei14-hui">
		<td height="14">100</td>
		</tr>
		<tr>
		<td height="53" colspan="2" rowspan="3">&nbsp;</td>
		</tr>
		<tr>
		<td height="12" colspan="30">&nbsp;</td>
		</tr>
		<tr>
		<td height="18" colspan="2">&nbsp;</td>
		<td colspan="3" class="hei14-hui">1月</td>
		<td width="71">&nbsp;</td>
		<td colspan="4" class="hei14-hui">2月</td>
		<td width="72">&nbsp;</td>
		<td width="23" class="hei14-hui">3月</td>
		<td width="71">&nbsp;</td>
		<td width="29" class="hei14-hui">4月</td>
		<td width="69">&nbsp;</td>
		<td width="27" class="hei14-hui">5月</td>
		<td width="70">&nbsp;</td>
		<td width="27" class="hei14-hui">6月</td>
		<td width="70">&nbsp;</td>
		<td width="29" class="hei14-hui">7月</td>
		<td width="67">&nbsp;</td>
		<td width="31" class="hei14-hui">8月</td>
		<td width="65">&nbsp;</td>
		<td width="33" class="hei14-hui">9月</td>
		<td width="63">&nbsp;</td>
		<td width="35" class="hei14-hui">10月</td>
		<td width="61">&nbsp;</td>
		<td width="37" class="hei14-hui">11月</td>
		<td width="62">&nbsp;</td>
		<td width="33" class="hei14-hui">12月</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="95" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top"><table id="__5" width="1185" height="171" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td width="146" height="8">&nbsp;</td>
		<td width="23" height="171" rowspan="10">&nbsp;</td>
		<td width="883" height="15" rowspan="2">&nbsp;</td>
		<td width="23" height="171" rowspan="10">&nbsp;</td>
		<td width="109" height="15" rowspan="2">&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td width="146" height="156" rowspan="8"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td height="18" valign="top"><table border="0" cellspacing="0" cellpadding="0">
			<tbody><tr>
			  <td valign="top" class="hei16-hei">视觉识别系统修改</td>
			</tr>
			<tr>
			  <td valign="top" class="hei14-lan">16/03/05 -16/07/11</td>
			</tr>
		  </tbody></table></td>
		</tr>
		<tr>
		<td height="38" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td height="18" valign="top"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			  <td valign="top" class="hei16-hei">公司简介拍摄</td>
			</tr>
			<tr>
			  <td valign="top"><span class="hei14-lan">16/03/05 -16/07/11</span></td>
			</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="38" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td height="18" valign="top"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			  <td valign="top" class="hei16-hei">产品部官网建设</td>
			</tr>
			<tr>
			  <td valign="top"><span class="hei14-lan">16/03/05 -16/07/11</span></td>
			</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="38" valign="top">&nbsp;</td>
		</tr>
		</tbody></table></td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td height="18"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td width="883" valign="top" bgcolor="#91DDFB"><br></td>
		</tr>
		</tbody></table></td>
		<td height="142" rowspan="6" valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td height="18" valign="top"><span class="hei24-hei">1603.00</span></td>
		</tr>
		<tr>
		<td height="38" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td height="18" valign="top"><span class="hei24-hei">7603.00</span></td>
		</tr>
		<tr>
		<td height="38" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td height="18" valign="top"><span class="hei24-hei">1,9603.00</span></td>
		</tr>
		<tr>
		<td height="38" valign="top">&nbsp;</td>
		</tr>
		</tbody></table></td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td height="38">&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td height="18"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td width="334" valign="top" bgcolor="#91DDFB"><br></td>
		</tr>
		</tbody></table></td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td height="42">&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td height="18"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td width="142" valign="top" bgcolor="#91DDFB"><br></td>
		</tr>
		</tbody></table></td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td height="22" rowspan="3">&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td height="14" rowspan="2">&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>
		<td height="7">&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="10" valign="top"><table id="__11" width="1184" height="36" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td width="34" height="36">&nbsp;</td>
		<td width="122" height="36">&nbsp;</td>
		<td width="39" height="36">&nbsp;</td>
		<td width="110" align="center" valign="middle">管理</td>
		<td width="127" align="center" valign="middle">审批</td>
		<td width="36">&nbsp;</td>
		<td width="42">&nbsp;</td>
		<td width="83" align="center" valign="middle">服务经理</td>
		<td width="90">&nbsp;</td>
		<td width="70" align="right">已经花费</td>
		<td><p>&nbsp;</p></td>
		<td width="140" align="center">满意度</td>
		<td width="260">&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td valign="top"><table id="__6" width="1184" height="188" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr></tr>
		<tr>
		<td colspan="2"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="1184" height="4" alt=""></td>
		</tr>
		<tr></tr>
		<tr>
		<td height="36" colspan="2"><table id="__7" width="1184" height="36" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td width="156" height="36"><table border="0" cellspacing="0" cellpadding="0">
			<tbody><tr>
			  <td valign="top" class="hei16-hei">产品部官网建设</td>
			</tr>
			<tr>
			  <td valign="top"><span class="hei14-lan">16/03/05 -16/07/11</span></td>
			</tr>
		</tbody></table></td>
		<td width="39" height="36">&nbsp;</td>
		<td width="110" valign="middle"><table id="__8" width="110" height="25" border="0" cellpadding="0" cellspacing="0">
		  <tbody><tr>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_05.gif" width="27" height="25" alt=""></td>
			<td width="56" height="25" bgcolor="#525252" class="hei12-bai">志强科技</td>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_03.png" width="27" height="25" alt=""></td>
		  </tr>
		</tbody></table></td>
		<td width="127" align="right" valign="middle"><table id="__9" width="110" height="25" border="0" cellpadding="0" cellspacing="0">
		  <tbody><tr>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_07.gif" width="30" height="31" alt=""></td>
			<td width="56" height="25" bgcolor="#525252" class="hei12-bai">刘丽</td>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_03.png" width="27" height="25" alt=""></td>
		  </tr>
		</tbody></table></td>
		<td width="36">&nbsp;</td>
		<td width="5"><img src="__PUBLIC__/Img/Home/user_center/b.png" width="1" height="36" alt=""></td>
		<td width="32">&nbsp;</td>
		<td width="83" align="center" valign="middle"><table id="__10" width="83" height="25" border="0" cellpadding="0" cellspacing="0">
		  <tbody><tr>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_05.gif" width="27" height="25" alt=""></td>
			<td width="56" height="25" bgcolor="#525252" class="hei12-bai">小张</td>
		  </tr>
		</tbody></table></td>
		<td width="98">&nbsp;</td>
		<td width="142" class="hei21-hei">346.00</td>
		<td width="64" class="hei21-hei">78</td>
		<td width="292" class="hei21-hei">&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="54" colspan="2"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="1184" height="1" alt=""></td>
		</tr>
		<tr>
		<td height="36" colspan="2"><table id="__17" width="1184" height="36" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td width="156" height="36"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top" class="hei16-hei">产品部官网建设</td>
		  </tr>
		  <tr>
			<td valign="top"><span class="hei14-lan">16/03/05 -16/07/11</span></td>
		  </tr>
		</tbody></table></td>
		<td width="39" height="36">&nbsp;</td>
		<td width="110" valign="middle"><table id="__13" width="110" height="25" border="0" cellpadding="0" cellspacing="0">
		  <tbody><tr>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_07.gif" width="30" height="31" alt=""></td>
			<td width="56" height="25" bgcolor="#525252" class="hei12-bai">小赵</td>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_03.png" width="27" height="25" alt=""></td>
		  </tr>
		</tbody></table></td>
		<td width="127" align="right" valign="middle"><table id="__14" width="110" height="25" border="0" cellpadding="0" cellspacing="0">
		  <tbody><tr>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_05.gif" width="27" height="25" alt=""></td>
			<td width="56" height="25" bgcolor="#525252"><span class="hei12-bai">志强科技</span></td>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_03.png" width="27" height="25" alt=""></td>
		  </tr>
		</tbody></table></td>
		<td width="36">&nbsp;</td>
		<td width="5"><img src="__PUBLIC__/Img/Home/user_center/b.png" width="1" height="36" alt=""></td>
		<td width="32">&nbsp;</td>
		<td width="83" align="center" valign="middle"><table id="__16" width="83" height="25" border="0" cellpadding="0" cellspacing="0">
		  <tbody><tr>
			<td><img src="__PUBLIC__/Img/Home/user_center/webac_07.gif" width="30" height="31" alt=""></td>
			<td width="56" height="25" bgcolor="#525252"><span class="hei12-bai">志强科技</span></td>
		  </tr>
		</tbody></table></td>
		<td width="98">&nbsp;</td>
		<td width="142" class="hei21-hei">3687.00</td>
		<td width="64" class="hei21-hei">92</td>
		<td width="292" class="hei21-hei">&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="18" colspan="2">&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="105" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top"><table width="1184" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td width="120" height="99" valign="bottom" background="__PUBLIC__/Img/Home/user_center/pop_1.png"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top" class="hei14-hei">视觉识别系统修改</td>
		  </tr>
		  <tr>
			<td valign="top" class="hei12-hei">16/03/05 -16/07/11</td>
		  </tr>
		</tbody></table></td>
		</tr>
		</tbody></table></td>
		<td width="15" valign="top">&nbsp;</td>
		<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td width="120" height="99" valign="bottom" background="__PUBLIC__/Img/Home/user_center/pop_2.png"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top" class="hei14-hei">视觉识别系统修改</td>
		  </tr>
		  <tr>
			<td valign="top" class="hei12-hei">16/03/05 -16/07/11</td>
		  </tr>
		</tbody></table></td>
		</tr>
		</tbody></table></td>
		<td width="15" valign="top">&nbsp;</td>
		<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td width="178" height="142" valign="bottom" background="__PUBLIC__/Img/Home/user_center/pop_big.png"><table border="0" cellspacing="0" cellpadding="0">
			  <tbody><tr>
				<td valign="top" class="hei14-bai">视觉识别系统修改</td>
			  </tr>
			  <tr>
				<td valign="top" class="hei12-bai">16/03/05 -16/07/11</td>
			  </tr>
			</tbody></table></td>
		  </tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td align="right" valign="top"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="80" height="8" alt=""></td>
		  </tr>
		  <tr>
			<td align="center" valign="top" bgcolor="#474747" class="hei14-bai">上传/删除</td>
		  </tr>
		</tbody></table></td>
		</tr>
		</tbody></table></td>
		<td width="15" valign="top">&nbsp;</td>
		<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td width="120" height="99" valign="bottom" background="__PUBLIC__/Img/Home/user_center/pop_3.png"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top" class="hei14-hei">视觉识别系统修改</td>
		  </tr>
		  <tr>
			<td valign="top" class="hei12-hei">16/03/05 -16/07/11</td>
		  </tr>
		</tbody></table></td>
		</tr>
		</tbody></table></td>
		<td width="500" valign="top">&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="16" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td width="11184" height="9" valign="top" bgcolor="#8AD0F2">&nbsp;</td>
		</tr>
		<tr>
		<td height="355" valign="top"><table width="1184" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td width="18" valign="top">&nbsp;</td>
		<td width="94" valign="top"><table width="94" border="0" cellpadding="0" cellspacing="0">
		  <tbody><tr>
			<td valign="top" style="font-size: 12px"><table width="94" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td height="75" align="left" valign="top"><span class="hei14-hei">风格页设计</span></td>
			  </tr>
			  <tr>
				<td height="1" valign="top"><span class="hei14-hei"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="94" height="1" alt=""></span></td>
			  </tr>
			</tbody></table></td>
		  </tr>
		  <tr>
			<td valign="top" style="font-size: 12px"><table width="94" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td height="29" align="left" valign="top"><span class="hei14-hei">图片拍摄</span></td>
			  </tr>
			  <tr>
				<td height="1" valign="top"><span class="hei14-hei"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="94" height="1" alt=""></span></td>
			  </tr>
			</tbody></table></td>
		  </tr>
		  <tr>
			<td valign="top" style="font-size: 12px"><table width="94" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td height="29" align="left" valign="top"><span class="hei14-hei">二级目录</span></td>
			  </tr>
			  <tr>
				<td height="1" valign="top"><span class="hei14-hei"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="94" height="1" alt=""></span></td>
			  </tr>
			</tbody></table></td>
		  </tr>
		  <tr>
			<td valign="top" style="font-size: 12px"><table width="94" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td height="145" align="left" valign="top"><span class="hei14-hei">确认与调试</span></td>
			  </tr>
			  <tr>
				<td height="1" valign="top"><span class="hei14-hei"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="94" height="1" alt=""></span></td>
			  </tr>
			</tbody></table></td>
		  </tr>
		  <tr>
			<td valign="top" style="font-size: 12px"><table width="94" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td height="29" align="left" valign="top"><span class="hei14-hei">论坛</span></td>
			  </tr>
			  <tr>
				<td height="1" valign="top"><span class="hei14-hei"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="94" height="1" alt=""></span></td>
			  </tr>
			</tbody></table></td>
		  </tr>
		  <tr>
			<td valign="top" style="font-size: 12px"><table width="94" border="0" cellpadding="0" cellspacing="0">
			  <tbody><tr>
				<td height="29" align="left" valign="top"><span class="hei14-hei">上线</span></td>
			  </tr>
			  <tr>
				<td height="1" valign="top"><span class="hei14-hei"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="94" height="1" alt=""></span></td>
			  </tr>
			</tbody></table></td>
		  </tr>
		</tbody></table></td>
		<td width="1072" height="355" align="center" valign="top" bgcolor="#F1F8FE"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top"><img src="__PUBLIC__/Img/Home/user_center/file up.png" width="1005" height="75" alt=""></td>
		  </tr>
		  <tr>
			<td height="60" valign="top">&nbsp;</td>
		  </tr>
		  <tr>
			<td valign="top"><img src="__PUBLIC__/Img/Home/user_center/file down.png" width="1005" height="145" alt=""></td>
		  </tr>
		  <tr>
			<td valign="top">&nbsp;</td>
		  </tr>
		</tbody></table></td>
		</tr>
		</tbody></table></td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="12" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td height="58" align="right" valign="top" bgcolor="#EEEEEE"><table id="__01" width="307" height="58" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td height="6" colspan="6">&nbsp;</td>
		</tr>
		<tr>
		<td height="21" colspan="3" bgcolor="#FFFFFF" class="hei14-hei">请各位领导案例，的看法；李开复轻微</td>
		<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
		<td width="38" height="31">&nbsp;</td>
		<td><img src="__PUBLIC__/Img/Home/user_center/webac_07.gif" width="30" height="31" alt=""></td>
		<td width="184" height="31"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top" class="hei14-hei">至强科技_Amy</td>
			<td valign="top" class="hei14-lan">(16/03/01)</td>
		  </tr>
		</tbody></table></td>
		<td width="18" height="31">&nbsp;</td>
		<td><img src="__PUBLIC__/Img/Home/user_center/webac_08.png" width="19" height="31" alt=""></td>
		<td>&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td height="58" valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td width="910" valign="top">&nbsp;</td>
		<td valign="top" class="hei16-hei">退出/帮助</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td valign="top"><img src="__PUBLIC__/Img/Home/user_center/b.png" width="1000" height="1" alt=""></td>
		</tr>
		<tr>
		<td valign="top"><table id="__12" width="1000" height="46" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
		<td width="10" height="46" rowspan="3">&nbsp;</td>
		<td width="28" height="46" rowspan="3" class="hei12-hei">北京</td>
		<td width="121" height="46" rowspan="3" align="center" class="hei18-hei">4007004941</td>
		<td width="28" height="46" rowspan="3" class="hei12-hei">上海</td>
		<td width="184" height="46" rowspan="3" align="center" class="hei18-hei">021-55310556~2801</td>
		<td width="2" rowspan="3" class="hei12-hei"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="2" height="26" alt=""></td>
		<td width="100" height="46" rowspan="3" align="center" class="hei14-hei">谁是LightBP?</td>
		<td width="2" rowspan="3" class="hei14-hei"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="2" height="26" alt=""></td>
		<td width="73" height="46" rowspan="3" align="center" class="hei14-hei">网站地图</td>
		<td width="2" rowspan="3"><img src="__PUBLIC__/Img/Home/user_center/g.png" width="2" height="26" alt=""></td>
		<td width="10" height="46" rowspan="3">&nbsp;</td>
		<td width="255" height="3"><img src="__PUBLIC__/Img/Home/user_center/w.png" width="1" height="3" alt=""></td>
		<td width="123" height="46" rowspan="3" align="center"><img src="__PUBLIC__/Img/Home/user_center/lightbp_logo.png" width="100" height="30" alt=""></td>
		<td width="81" height="46" rowspan="3" align="center" bgcolor="#1C4893" class="hei16-bai">注册/登陆</td>
		</tr>
		<tr>
		<td width="255" height="28"><table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
			  <tbody><tr>
				<td valign="top" class="hei14-hei">沪ICP备06046803号</td>
				<td valign="top" class="hei14-hui">Copyright ©2006</td>
			  </tr>
			</tbody></table></td>
		  </tr>
		  <tr>
			<td valign="top" class="hei12-hei">北京环球看点广告传媒有限公司保留所有权利</td>
		  </tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td width="255" height="3"><img src="__PUBLIC__/Img/Home/user_center/w.png" width="1" height="3" alt=""></td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td valign="top"><img src="__PUBLIC__/Img/Home/user_center/b.png" width="1000" height="1" alt=""></td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top"><table border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
		<td valign="top">&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top">&nbsp;</td>
		</tr>
		<tr>
		<td valign="top">&nbsp;</td>
		</tr>
		</tbody></table></td>
		<td width="48" valign="top">&nbsp;</td>
		</tr>
		</tbody></table></td>
		</tr>
		<tr>
		<td valign="top">&nbsp;</td>
		</tr>
		</tbody></table>
		</div>
			<div class="footer">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td height="1" colspan="10" align="center"><img src="__PUBLIC__/Img/Home/user_center/zhanweigrey60.png" width="950" height="1"></td>
					</tr>
					<tr>
						<td width="30" height="50" align="center" valign="middle">&nbsp;</td>
						<td width="380" align="center" valign="middle" class="hei12-hei"><span class="hei12-hei">北京</span><img src="__PUBLIC__/Img/Home/user_center/beijingdianhua.png" width="117" height="16"><span class="hei12-hei"> 上海</span><img src="__PUBLIC__/Img/Home/user_center/shanghaidianhua.png" width="190" height="16"></td>
						<td width="2" align="center" valign="middle"><img src="__PUBLIC__/Img/Home/user_center/zhanweigrey60.png" width="2" height="30"></td>
						<td width="120" align="center" valign="middle" class="hei12"><a href="http://www.opened.com.cn/home/aboutme.html" class="hei16-hei">谁是OPENED?</a></td>
						<td width="2" align="center" valign="middle"><img src="__PUBLIC__/Img/Home/user_center/zhanweigrey60.png" width="2" height="30"></td>
						<td width="80" align="center" valign="middle" class="hei12"><a href="http://www.opened.com.cn/home/sitemap.html" class="hei16-hei">网站地图</a></td>
						<td width="2" align="center" valign="middle"><img src="__PUBLIC__/Img/Home/user_center/zhanweigrey60.png" width="2" height="30"></td>
						<td width="300" align="center" valign="middle">沪ICP备12013913号-2 ©2006 OPENED
						</td><td width="37" align="center" valign="middle"><a href="http://www.opened.com.cn/index.html"><img src="__PUBLIC__/Img/Home/user_center/zuixiaologo.png" width="37" height="30"></a></td>
						<td width="30" align="center" valign="middle">&nbsp;</td>
					</tr>
					<tr>
						<td height="1" colspan="10" align="center"><img src="__PUBLIC__/Img/Home/user_center/zhanweigrey60.png" width="950" height="1"></td>
					</tr>
				</tbody>
				</table>
				<!-- end .footer -->
			</div>
		<!-- end .container -->
		</div>


	</body>
</html>