<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{$web_name} › {$current_page}</title>
		<meta name="robots" content="noindex,nofollow">
		<meta name="keywords" content="{$keywords}"/>
		<meta name="description" content="{$seo_description}" />
		<meta name="baidu-site-verification" content="" />
		<!--css-->
		<link rel='stylesheet' id='twentytwelve-style-css'  href='__PUBLIC__/Css/Common/common.css' type='text/css' media='all' />
		<!-- js -->
		<!-- jQuery -->
		<script type="text/javascript" src="__PUBLIC__/Js/Common/jquery-1.9.0.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Js/Common/common.js"></script> 
	</head>
	<body class="login login-action-register" youdao="bind">
		<div id="u_login_box">
			<h1><a href="{:U('Home/index')}" title="TryDemo个人博客">TryDemo个人博客</a></h1>
			<p class="message register">在这里登录</p>
			<form name="loginform" id="loginform" action="{:U('User/loginAct')}" method="post" onsubmit="return loginValidate()">
				<p>
					<label for="user_login">用户名<br>
					<input type="text" name="username" id="user_name" class="input" value="" size="20"></label>
				</p>
				<p>
					<label for="user_pass">密码<br>
					<input type="password" name="pwd" id="user_pass" class="input" value="" size="30"></label>
				</p>
				<p class="forgetmenot">
					<label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever"> 记住我的登录信息</label>
				</p>
				<p class="submit">
					<input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="登录">
					<input type="hidden" name="redirect_to" value="{:U('User/loginAct')}">
					<input type="hidden" name="testcookie" value="1">
				</p>
			</form>
			<p id="nav">
				<a href="{:U('User/registerAct')}">注册</a> | 	<a href="{:U('User/findPwdAct')}" title="找回密码">忘记密码？</a>
			</p>
			<p id="backtoblog"><a href="{:U('Home/index')}" title="不知道自己在哪？">← TryDemo个人博客</a></p>
		</div>
		<div class="clear"></div>
		
		<script type="text/javascript">
			function wp_attempt_focus(){
				setTimeout( function(){ 
					try{
						d = document.getElementById('user_name');
						d.focus();
						d.select();
					} catch(e){
					
					}
				}, 200);
			}
			wp_attempt_focus();

			//表单提交验证
			function loginValidate(){
				var flag = true;
				var msg = '';
				var user_name = $.trim($('#user_name').val());
				var user_pass = $.trim($('#user_pass').val());
				
				if(!user_name.length){
					msg += '用户名不能为空！\n';
					flag = false;
				}
				
				if(!user_pass.length){
					msg += '密码不能为空！\n';
					flag = false;
				}else if(user_pass.length < 6){
					msg += '密码长度不能小于6位！\n';
					flag = false;
				}

				if(!flag){
					alert(msg);
					//调用屏幕抖动效果
					addLoadEvent(function(){ var p=new Array(15,30,15,0,-15,-30,-15,0);p=p.concat(p.concat(p));var i=document.forms[0].id;g(i).position='relative';shake(i,p,20);});
				}
				return flag;
			}	
		</script>

		<div class="clear"></div>
	</body>
</html>