<{include file="public/header.html"}>
<body>
	<!-- Page Head -->
	<div id="menu_box">
    	<h2>Welcome www.cheShop.com</h2>
    	<p id="page-intro">What would you like to do?</p>
    		<ul class="shortcut-buttons-set">
	    		<li><a class="shortcut-button" href="<{$app}>/commodity/index" target="_self"><span> <img src="<{$res}>/images/icons/pencil_48.png" alt="icon" /><br /> 添加新商品 </span></a></li>
      			<li><a class="shortcut-button" href="<{$app}>/user/add" target="_self"><span> <img src="<{$res}>/images/icons/paper_content_pencil_48.png" alt="icon" /><br /> 添加新会员 </span></a></li>
      			<li><a class="shortcut-button" href="<{$app}>/image/index" target="_self"><span> <img src="<{$res}>/images/icons/image_add_48.png" alt="icon" /><br /> 上传新图片 </span></a></li>
      			<li><a class="shortcut-button" href="<{$app}>/advert/index" target="_self"><span> <img src="<{$res}>/images/icons/clock_48.png" alt="icon" /><br /> 广告管理 </span></a></li>
      			<li><a class="shortcut-button" href="#messages" rel="modal"><span> <img src="<{$res}>/images/icons/comment_48.png" alt="icon" /><br /> 站内信 </span></a></li>
    		</ul>
	</div>
	<!-- End .shortcut-buttons-set -->
	<div id="main_box">
		<div class="content-box">
      		<!-- Start Content Box -->
      			<div class="content-box-header">
				<h3>会员管理>编辑管理员权限</h3>
        			<ul class="content-box-tabs">
          				<li><a href="#tab1" class="default-tab">Table</a></li>
        			</ul>
        			<div class="clear"></div>
      			</div>
      			<!-- End .content-box-header -->
      			<div class="content-box-content">
        			<div class="tab-content default-tab" id="tab1">
          		<!-- This is the target div. id must match the href of this div's tab -->
          				<div class="notification attention png_bg"> <a href="#" class="close"><img src="<{$res}>/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
						<div> 这是一个公告栏。顺便一提,你可以关闭此通知。<br /><{include file="public/clue.html"}>  </div>
    					</div>
    					<div class="tab_test">
						<table align="center" width="100%" style="border:1px dotted silver;font:18px;">
								<form action="<{$url}>/addpower" method="post">
									<input type="hidden" name="id" value="<{$post.id}>" />
									<tr>
										<td><span class="ud_width"><font color="red">用户组选择</font></span></td>
										<td>			
												<input type="radio" name="admin" value="0" <{if $post.admin eq 0}>checked<{/if}> />普通会员
												<input type="radio" name="admin" value="1" <{if $post.admin eq 1}>checked<{/if}> />初级管理员
												<input type="radio" name="admin" value="2" <{if $post.admin eq 2}>checked<{/if}> />高级管理员
												<{if $post.admin eq 2 or $post.admin eq 3}>
												<input type="radio" name="admin" value="3" <{if $post.admin eq 3}>checked<{/if}> />超级管理员
												<{/if}>
										</td>
									</tr>
									<{if $post.disable eq 0}>
									<tr>
										<td><span class="ud_width"><font color="red">是否禁用</font></span></td>
										<td><input type="checkbox" name="disable" value="1" /> 禁用该用户 &nbsp;</td>
									</tr>
									<{elseif $post.disable eq 1}>
									<tr>
										<td><span class="ud_width"><font color="red">解除禁用</font></span></td>
										<td><input type="checkbox" name="disable" value="0" />解除禁用 &nbsp;</td>
									</tr>
									<{/if}>
									<tr><td colspan="2">&nbsp;</td></tr>
									<tr>
										<td colspan="2"><font color="#2ab34e">以下为用户信息:</font></td>
									</tr>
									<tr>
										<td colspan="2"><span class="ud_width">用户名:&nbsp;&nbsp;&nbsp;</span>
										<{$post.username}>
										</td>
									</tr>
									<tr>
										<td colspan="2">><span class="ud_width">电子邮件:&nbsp;&nbsp;&nbsp;</span>
										<{ $post.email }>
										</td>
									</tr>
									<tr>
										<td colspan="2"><span class="ud_width">联系电话:&nbsp;&nbsp;&nbsp;</span>
										<{ $post.phone }>
										</td>
									</tr>
									<tr>
										<td colspan="2"><span class="ud_width">性别:&nbsp;&nbsp;&nbsp;</span>
											<{if $post.sex eq 1}>男<{/if}>
											<{if $post.sex eq 2}>女<{/if}>
											<{if $post.sex eq 0}>保密<{/if}>
										</td>
									</tr>
									<tr>
										<td colspan="2"><span class="ud_width">年龄:&nbsp;&nbsp;&nbsp;</span>
											<{ $post.age }>	
										</td>
									</tr>
									<tr>
										<td colspan="2"><span class="ud_width">会员等级:&nbsp;&nbsp;&nbsp;</span>
												<{if $post.level eq 0}>普通会员<{/if}>
												<{if $post.level eq 1}>金牌会员<{/if}>
												<{if $post.level eq 2}>钻石会员<{/if}>
												<{if $post.level eq 8}>神马都是浮云<{/if}>
										</td>
									</tr>
									<tr>
										<td colspan="2"><span class="ud_width">会员创建时间:&nbsp;&nbsp;&nbsp;</span><{ $post.createtime}></td>
									</tr>
									<tr>
										<td></td>
										<td colspan="2">
											<input type="submit" value="修改" />
											<input type="reset" value="重置" />
										</td>
									</tr>
								</form>	
							</table>		
					</div>
  				</div>  
        			<!-- End #tab1 -->	
      		</div>
      		<!-- End .content-box-content -->
    	</div>
    	<!-- End .content-box -->
    	<div class="content-box column-left">
      		<div class="content-box-header">
        	<h3>左公告区</h3>
      		</div>
      		<!-- End .content-box-header -->
      		<div class="content-box-content">
        		<div class="tab-content default-tab">
          			<h4>Maecenas dignissim</h4>
          			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in porta lectus. Maecenas dignissim enim quis ipsum mattis aliquet. Maecenas id velit et elit gravida bibendum. Duis nec rutrum lorem. Donec egestas metus a risus euismod ultricies. Maecenas lacinia orci at neque commodo commodo. </p>
        		</div>
        		<!-- End #tab3 -->
      		</div>
      		<!-- End .content-box-content -->
    	</div>
    	<!-- End .content-box -->
    	<div class="content-box column-right closed-box">
      		<div class="content-box-header">
        	<!-- Add the class "closed" to the Content box header to have it closed by default -->
        		<h3>右公告区</h3>
      		</div>
      		<!-- End .content-box-header -->
      		<div class="content-box-content">
        		<div class="tab-content default-tab">
          			<h4>右公告区默认关闭</h4>
          			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in porta lectus. Maecenas dignissim enim quis ipsum mattis aliquet. Maecenas id velit et elit gravida bibendum. Duis nec rutrum lorem. Donec egestas metus a risus euismod ultricies. Maecenas lacinia orci at neque commodo commodo. </p>
        		</div>
        		<!-- End #tab3 -->
      		</div>
      		<!-- End .content-box-content -->
    	</div>
    	<!-- End .content-box -->
    	<div class="clear"></div>
    	<!-- Start Notifications -->
    	<div class="notification attention png_bg"> <a href="#" class="close"><img src="<{$res}>/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
      	<div> 注意通知. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero. </div>
    	</div>
    	<div class="notification information png_bg"> <a href="#" class="close"><img src="<{$res}>/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
      	<div> 信息通知. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero. </div>
    	</div>
    	<div class="notification success png_bg"> <a href="#" class="close"><img src="<{$res}>/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
      	<div> 成功的通知. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero. </div>
    	</div>
    	<div class="notification error png_bg"> <a href="#" class="close"><img src="<{$res}>/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
      	<div> 错误的通知. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero. </div>
    	</div>
    	<!-- End Notifications -->
    	<div id="footer"> <small>
      	<!-- Remove this notice or replace it with whatever you want -->
      	&#169; Copyright 2012 Your Company | Powered by <a href="http://www.cheshop.com">D.Apache.Luo</a> | <a href="#">Top</a> </small> </div>
    	<!-- End #footer -->
  </div>
  <!-- End #main-content -->
</div>
</div>
</body>
<{include file="public/footer.html"}>

