<include file="Public:header" />
<body>
	
	<!-- End .shortcut-buttons-set -->
	<div id="main_box">
		<div class="content-box">
      		<!-- Start Content Box -->
      			<div class="content-box-header">
				<h3>{$navigation_bar}</h3>
        			<ul class="content-box-tabs">
          				<li><a href="#tab1" class="default-tab">广告位列表</a></li>
						<li><a href="#tab2">添加广告位</a></li>
        			</ul>
        			<div class="clear"></div>
      			</div>
      			<!-- End .content-box-header -->
      			<div class="content-box-content">
					
				<!--Start #tab2-->
				<div class="tab-content default-tab" id="tab1">
					<form action="{:U('AdPosition/index')}" name="comments_form" method="post">
					<!-- This is the target div. id must match the href of this div's tab -->
					<div class="notification attention png_bg">
						<div class="close">
						<a href="#"><img src="__PUBLIC__/Img/Admin/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
						</div>
						<div> 这是一个公告栏。顺便一提,你可以关闭此通知。<include file="Public:clue" /></div>
    				</div>
					<div class="search-box-table">
						<table width="100%" cellspacing="0" class="search-form">
							<tbody>
								<tr>
									<td>
										<div class="explain-col">
											<span>输入要查找的广告位标题:&nbsp;<input name="keyword" type="text" style="width:140px;"  value="{$keyword}" />&nbsp;&nbsp;</span>&nbsp;&nbsp;
											<span><input type="submit" class="button" value="搜索广告位"></span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab_test">
						<table>
							<thead>
								<tr>
									<th align="center" width="10%">编号</th>
									<th align="center" width="5%">
										<input class="check-all" name="list_checkbox_id[]" type="checkbox" value="" onclick="javascript:fanselect()" />	
									</th>
									<th align="center" width="10%">广告位名称</th>
									<th align="center" width="10%">区域码</th>
									<th align="center" width="35%">备注</th>
									<th align="center" width="10%">创建时间</th>
									<th align="center" width="10%">更新时间</th>
									<th align="center" width="10%">操作</th>
								</tr>
							</thead>
							
							
							<tbody>
								<volist name="list" id="val" empty="$list_empty">
								<tr align="center" id="tr_adp_{$val.position_id}" class="{if $val.status eq 0}bg_fuscous{/if}">
									<td align="center">{$val.position_id}</td>
									<td align="center">
										<input type="checkbox" name="list_checkbox_id[]" value="{$val.position_id}">
									</td>
									<td align="center">{$val.position_name}</td>
									<td align="center">{$val.area_code}</td>
									<td align="center">{$val.position_desc|substr=0,30}</td>
									<td align="center">{$val.create_time|date="Y-m-d H:i:s",###}</td>
									<td align="center">{$val.update_time|date="Y-m-d H:i:s",###}</td>
									<td>
										<a href="{:U('AdPosition/mEdit','id='.$val['position_id'])}" title="编辑"><img src="__PUBLIC__/Img/Admin/icons/pencil.png" alt="编辑" /></a> <a href="javascript:delAdPosition({$val['position_id']})" title="删除"><img src="__PUBLIC__/Img/Admin/icons/cross.png" alt="删除" /></a>
									</td>
								</tr>
								</volist>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="10">
										<div class="bulk-actions align-left">
											<select name="dropdown">
												<option value="option1">Choose an action...</option>
												<option value="option3">删除</option>
											</select>
											<a href="javascript:select()">全选</a>/<a href="javascript:noselect()">全不选</a>
											<a class="button" href="#">Apply to selected</a> 
										</div>
										<!-- Start 翻页 -->
										<div class="pagination">{$page}</div>
										<!-- End 翻页 -->
										<div class="clear"></div>
									</td>
								</tr>
							</tfoot>
						</table>	
					</div>
					</form>
				</div> 	
				<!--End #tab2-->
				<div class="tab-content" id="tab2">
          			<form action="{:U('AdPosition/mAdd')}" id="ad_position_form_add" method="post" onsubmit="return addValidate()">
						<fieldset>
							<p>
								<label>广告位名称:</label>
								<input class="text-input small-input" type="text" id="position_name" onblur="checkName($(this))" name="position_name" />
								<span id="position_name_msg" check_flag="1" class="input-notification attention png_bg">请输入正确的广告位名称！</span>
								<!-- Classes for input-notification: success, error, information, attention, optional -->
								<br />
								<small>请输入合适的广告位名称！可以使用中文，但禁止除[@][.]以外的特殊符号</small> 
							</p>
							<p>
								<label>广告位限制宽度:</label>
								<input class="text-input small-input" type="text" id="ad_width" name="ad_width" />
								<span class="input-notification optional png_bg">选填项</span>
								<!-- Classes for input-notification: success, error, information, attention, optional -->
								<br />
								<small>请输入纯数字！默认单位为像素</small> 
							</p>
							<p>
								<label>广告位限制高度:</label>
								<input class="text-input small-input" type="text" id="ad_height" name="ad_height" />
								<span class="input-notification optional png_bg">选填项</span>
								<!-- Classes for input-notification: success, error, information, attention, optional -->
								<br />
								<small>请输入纯数字！默认单位为像素</small> 
							</p>
							<p>
								<label>区域码页面:</label>
								<input class="text-input small-input" type="text" id="area_code_page" name="area_code_page" />
								<span id="area_code_page_msg" class="input-notification attention png_bg">请输入正确的区域码页面！</span>
								<!-- Classes for input-notification: success, error, information, attention, optional -->
								<br />
								<small>如:<font color="red">index</font>-one-1</small> 
							</p>
							<p>
								<label>区域码模块位置:</label>
								<input class="text-input small-input" type="text" id="area_code_module" name="area_code_module" />
								<span id="area_code_module_msg" class="input-notification attention png_bg">请输入正确的模块区域码！</span>
								<!-- Classes for input-notification: success, error, information, attention -->
								<br />
								<small>如:index-<font color="red">one</font>-1</small> 
							</p>
							<p>
								<label>区域码排序:</label>
								<input class="text-input small-input" type="text" id="area_code_sort" name="area_code_sort" />
								<span id="area_code_sort_msg" class="input-notification attention png_bg">请输入正确的区域码排序！</span>
								<!-- Classes for input-notification: success, error, information, attention -->
								<br />
								<small>如:index-one-<font color="red">1</font></small> 
							</p>
							<p>
								<label>广告位描述:</label>
								<textarea class="text-input textarea wysiwyg" name="position_desc" cols="79" rows="15"></textarea>
							</p>
							<p>
								<input class="button" type="submit" value="提交" />
							</p>
						</fieldset>
						<div class="clear"></div>
						<!-- End .clear -->
          			</form>
        		</div>
        		<!-- End #tab2 -->
      		</div>
      		<!-- End .content-box-content -->
    	</div>
    	<!-- End .content-box -->
    	
    	<div class="clear"></div>
    	
    	<div id="footer"> <small>
      	<!-- Remove this notice or replace it with whatever you want -->
      	&#169; Copyright 2013 Your Company | Powered by <a href="http://www.trydemo.net">D.Apache.Luo</a> | <a href="#">Top</a> </small> </div>
    	<!-- End #footer -->
  </div>
  <!-- End #main-content -->
</div>
</div>
</body>
<include file="Public:footer" />


<script type="text/javascript">

	function checkName(obj){
		var ra_name = $('#position_name');
		var ra_name_msg = $("#position_name_msg");
		var name = $.trim(ra_name.val());
		var msg = '';

		if(!name.length){
			msg = '广告位名称不能为空！\n';
			ra_name_msg.attr('check_flag',2);
			ra_name_msg.show();
			ra_name_msg.removeClass("success");
			ra_name_msg.addClass("error");
			ra_name_msg.text(msg);

		}else{
			//ajax判断重名
			$.ajax({
				type:"post",
				url:"{:U('AdPosition/ajax_check_name')}",
				data:"name="+name,
				dataType:"json",
				success:function(result){
					if(result.flag){
						ra_name_msg.show();
						ra_name_msg.attr('check_flag',1);
						ra_name_msg.removeClass("error");
						ra_name_msg.addClass("success");
						ra_name_msg.text(result.msg);
					}else{
						ra_name_msg.show();
						ra_name_msg.attr('check_flag',3);
						ra_name_msg.removeClass("success");
						ra_name_msg.addClass("error");
						ra_name_msg.text(result.msg);
					}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					//alert(XMLHttpRequest.status);
					//alert(XMLHttpRequest.readyState);
					//alert(textStatus);
					ra_name_msg.show();
					ra_name_msg.attr('check_flag',4);
					ra_name_msg.removeClass("success");
					ra_name_msg.addClass("error");
					ra_name_msg.text("请求错误！请刷新重试！");
				}
			});
		}

	}

	//表单提交验证
	function addValidate(){
		var flag = true;
		var msg = '';
		var name_tmp_msg = '';
		var name = $.trim($('#position_name').val());
		var obj = $("#position_name_msg");
		var area_code_page = $.trim($('#area_code_page').val());
		var area_code_page_msg = $('#area_code_page_msg');
		var area_code_module = $.trim($('#area_code_module').val());
		var area_code_module_msg = $('#area_code_module_msg');
		var area_code_sort = $.trim($('#area_code_sort').val());
		var area_code_sort_msg = $('#area_code_sort_msg');
		
		if(!name.length){
			msg += '管理员角色名不能为空！\n';
			name_tmp_msg = '管理员角色名不能为空！';
			flag = false;

		}else{
			var name_check_flag = obj.attr('check_flag');
			if(name_check_flag != 1){
				flag = false;
				if(name_check_flag == 2){
					msg += '管理员角色名不能为空！\n';
					name_tmp_msg = '管理员角色名不能为空！';
				}else if(name_check_flag == 3){
					var check_msg = obj.text();
					if(check_msg.length > 0){
						msg += check_msg;
					}else{
						msg += '管理员角色名不合法！\n';
						name_tmp_msg = '管理员角色名不合法！';
					}
				}else if(name_check_flag == 4){
					msg += '未知错误！';
					name_tmp_msg = '未知错误！';
				}else{
					msg += '未知错误！';
					name_tmp_msg = '未知错误！';
				}
			}
		}
		
		//alert(area_code_page.length);
		if(!area_code_page.length){
			//alert(1111);
			flag = false;
			var tmp_msg = '区域码页面不能为空！';
			msg += tmp_msg+'\n';
			area_code_page_msg.show();
			area_code_page_msg.removeClass("attention");
			area_code_page_msg.addClass("error");
			area_code_page_msg.text(tmp_msg);
		}
		if(!area_code_module.length){
			flag = false;
			var tmp_msg = '区域码模块不能为空！';
			msg += tmp_msg+'\n';
			area_code_module_msg.show();
			area_code_module_msg.removeClass("attention");
			area_code_module_msg.addClass("error");
			area_code_module_msg.text(tmp_msg);
		}
		if(!area_code_sort.length){
			flag = false;
			var tmp_msg = '区域码排序不能为空！';
			msg += tmp_msg+'\n';
			area_code_sort_msg.show();
			area_code_sort_msg.removeClass("attention");
			area_code_sort_msg.addClass("error");
			area_code_sort_msg.text(tmp_msg);
		}else{
			if(!/^\d+$/.test(area_code_sort)){
				flag = false;
				var tmp_msg = '排序请输入纯数字！';
				msg += tmp_msg+'\n';
				area_code_sort_msg.show();
				area_code_sort_msg.removeClass("attention");
				area_code_sort_msg.addClass("error");
				area_code_sort_msg.text(tmp_msg);
			}
		}

		if(!flag){
			obj.show();
			obj.removeClass("success");
			obj.addClass("error");
			obj.text(name_tmp_msg);
			alert(msg);

			//调用屏幕抖动效果
			addLoadEvent(function(){ var p=new Array(15,30,15,0,-15,-30,-15,0);p=p.concat(p.concat(p));var i=document.forms[1].id;g(i).position='relative';shake(i,p,20);});
		}
		//return false;
		return flag;
	}
	
	//ajax删除广告位
	function delAdPosition(id){
		if(id){
			if(confirm("你确定要彻底删除这个广告位吗?")){
				$.ajax({
					type: "POST",
					url: "{:U('AdPosition/ajax_del_position')}",
					data: "id="+ id,
					dataType: "json",
					success: function(result){
							$("#tr_adp_"+id).remove();
						if(result.flag){
						}else{
							alert(result.msg);
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						//alert(XMLHttpRequest.status);
						//alert(XMLHttpRequest.readyState);
						//alert(textStatus);
						alert("请求错误！请刷新重试！");
					}
				});
			}	
		}else{
			alert("请求失败！");
		}
	}
</script>